#Files to be ignored. Knabe

#Created by IDE IntelliJ IDEA:
/.idea/
/*.iml

#Created by IDE Eclipse:
/.project
/.classpath
/.settings/

#Created by database Derby when running the test suite:
/derby.log
#But file /derby.properties is useful to be versioned!

#Created by Maven:
/target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
